<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header   th:fragment="navbar" class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="/images/logo.png" class="image-run" alt="">
                        <span class="logo-custom-container">
                            <img src="/images/1.png"  class="logo-custom-img" alt="">
                            <img src="/images/2.png"  class="logo-custom-img" alt="">
                            <img src="/images/3.png"  class="logo-custom-img" alt="">
                        </span>

                    </a>

                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a th:href="@{/}" class="active">Home</a></li>
                        <li><a href="explore.html">Explore</a></li>
                        <li><a href="/gallery">Gallery</a></li>
                        <li><a href="/food/input">Nutrition Search</a></li>
                        <li  sec:authorize="hasRole('ROLE_ADMIN')"><a href="/admin">Admin</a></li>
                        <li><a href="">Blog</a></li>
                        <li sec:authorize="!isAuthenticated()">
                            <a class="nav-link" href="/users/register">Sign Up</a>
                        </li>

                        <li sec:authorize="!isAuthenticated()">
                            <a class="nav-link" href="/users/login">Sign In</a>
                        </li>

                        <li sec:authorize="hasRole('ROLE_COACH')">
                            <a class="nav-link" th:href="@{/coach/manager}">Manage Programs</a>
                        </li>
                        <li sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{'/users/update/' + ${userId}}">Update Profile</a>
                        </li>

                        <li sec:authorize="isAuthenticated()">
                            <a class="nav-link" th:href="@{/users/logout}">Logout</a>
                        </li>
                    </ul>
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>

</body>
</html>