<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" >

<head th:replace="~{fragments/head}">

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div th:replace="~{fragments/preloader}">


  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header th:replace="~{fragments/navbar}">


  </header>
  <!-- ***** Header Area End ***** -->

  <div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>Line Fit Gym</h6>
          <h2>Create Your Blog Now</h2>
          <span>Home > <a href="#">Create Blog</a></span>
          <div class="buttons">
            <div class="main-button">
              <a  href="/findUsers">Find Members</a>
            </div>
            <div class="border-button">
              <a href="/food/input">Nutriotion Search</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Apply For <em>Your Blog</em> Here.</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <form id="contact" th:action="@{'/blog/create/save/' + ${userId}}"      th:object="${blogViewDto}"
                th:method="POST"
                enctype="multipart/form-data">
            <div class="row input-blog">
              <div class="col-lg-4">
                <fieldset>
                  <label for="title">Blog Title</label>
                  <input type="title" name="title" id="title"
                         th:field="*{title}"
                         placeholder="Ex. Lyon King" >
                  <small th:if="${#fields.hasErrors('title')}"
                         th:errors="*{title}"
                         class="text-danger">Profile Picture error message</small>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label for="description">Description For Blog</label>
                  <textarea  id="description" class="form-control" name="description"
                            th:field="*{description}" placeholder="Give us your idea"></textarea>
                  <small th:if="${#fields.hasErrors('description')}"
                         th:errors="*{description}"
                         class="text-danger">Profile Picture error message</small>
                </fieldset>
              </div>
              <div class="col-lg-4">
                <fieldset>
                  <label for="image">Your File</label>
                  <input type="file" id="image" class="form-control" name="image"
                         th:field="*{image}"/>
                  <small th:if="${#fields.hasErrors('image')}"
                         th:errors="*{image}"
                         class="text-danger">Profile Picture error message</small>
                </fieldset>
              </div>
              <div class="col-lg-8">
                <fieldset>
                  <button type="submit" id="form-submit" class="orange-button submit-button">Submit Your Applying</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>

  <footer th:replace="~{fragments/footer}">

  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <script src="/js/isotope.min.js"></script>
  <script src="/js/owl-carousel.js"></script>


  <script src="/js/popup.js"></script>
  <script src="/js/custom.js"></script>
  <script>
    document.querySelector('form').addEventListener('submit', function(event) {

      document.getElementById('form-submit').disabled = true;


      document.getElementById('preloader').style.display = 'block';

      event.preventDefault();
    });
  </script>
  </body>
</html>