<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

<head th:replace="~{fragments/head}">

</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div th:replace="~{fragments/preloader}">


  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header th:replace="~{fragments/navbar}">


  </header>
  <!-- ***** Header Area End ***** -->

  <div class="page-heading normal-space">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h6>LIne FIt Gym</h6>
          <h2>View Member Details</h2>
          <span>Home > <a href="#">Member Details</a></span>
          <div class="buttons">
            <div class="main-button">
              <a href="explore.html">Explore our Gym</a>
            </div>
            <div class="border-button">
              <a href="/users/register">Create Your Account</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item-details-page">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>View Members <em>Profile</em> Here.</h2>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="left-image">
            <img th:src="${randomUser.profilePicture}"  class=" random-img" alt="" style="border-radius: 20px;">
          </div>
        </div>
        <div class="col-lg-5 align-self-center">
          <h4 th:text="${randomUser.fullName}"></h4>
          <span class="author">
    <img th:src="${randomUser.profilePicture}" alt="" style="max-width: 50px; border-radius: 50%;">
    <h6 th:text="${randomUser.email}"><br><a href="#"></a></h6>
  </span>
          <div class="row">
            <div class="col-3">
      <span class="bid">
        Age<br><strong th:text="${randomUser.age}"></strong><br><em></em>
      </span>
            </div>
            <div class="col-4">
      <span class="owner">
        Country<br><strong th:text="${randomUser.country}"></strong><br><em th:text="'City: ' + ${randomUser.city}"></em>
      </span>
            </div>
            <div class="col-5">
      <span class="ends">
        Registred On<br><strong th:text="${randomUser.createdOn}"></strong><br><em></em>
      </span>
            </div>
          </div>
          <form th:action="@{/view/users/details/{id}(id=${randomUser.id})}" method="get">
            <button type="submit" id="form-submit" class="main-button">View Details</button>
          </form>
        </div>
        <div class="col-lg-12">
          <div class="current-bid">
            <div class="row">
              <div class="col-lg-6">
                <div class="mini-heading"><h4>Current Memembers</h4></div>
              </div>
              <div class="col-lg-6">
                <fieldset>
                  <select name="Category" class="form-select" aria-label="Default select example" id="chooseCategory" onchange="this.form.click()">
                      <option selected>Sort By: Latest</option>
                      <option type="checkbox" name="option1" value="old">Sort By: Oldest</option>
                      <option value="low">Sort By: Lowest</option>
                      <option value="high">Sort By: Highest</option>
                  </select>
              </fieldset>
              </div>
              <div th:each="randomUser : ${randomUsers}" class="col-lg-4 col-md-6">
                <div class="item">
                  <div class="left-img">
                    <img  th:src="${randomUser.profilePicture}" alt="">
                  </div>
                  <div class="right-content">
                    <h4 th:text="${randomUser.fullName}"></h4>
                    <a href="#">@username</a>
                    <div class="line-dec"></div>
                    <h6>Age: <em th:text="${randomUser.age}"></em></h6>
                    <span class="date">Programs Made: <em th:text="${randomUser.programsCount}"></em></span>
                    <span  class="date country" th:title="${randomUser.country}">Country : <em th:text="${randomUser.country}"></em></span>

                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="create-nft">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Find Your Perfect Fitness Program & Coach.</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="main-button" sec:authorize="!isAuthenticated()">
            <a href="/users/register">Start Your Fitness Journey Now</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item first-item">
            <div class="number">
              <h6>1</h6>
            </div>
            <div class="icon">
              <img src="/images/icon-02.png" alt="">
            </div>
            <h4>Find Your Motivation</h4>
            <p>At LineFitGym, we believe in the power of motivation. Whether you're a beginner or a seasoned athlete, finding your motivation is the key to reaching your fitness goals. Explore our resources, connect with our community, and discover what drives you. Start your fitness journey with LineFitGym today!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item second-item">
            <div class="number">
              <h6>2</h6>
            </div>
            <div class="icon">
              <img src="/images/icon-04.png" alt="">
            </div>
            <h4>Find Your Coach</h4>
            <p>If you're interested in joining our LineFitGym community, you can register as a coach or a trainee.
              <span sec:authorize="!isAuthenticated()">Visit our <a href="/users/register">registration page</a> to get started.</span>
              <span sec:authorize="isAuthenticated()">You are already training with us!.</span>
              We look forward to welcoming you!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <div class="icon">
              <img src="/images/icon-06.png" alt="">
            </div>
            <h4>Start Your Fitness Program &amp; Achieve Your Goals</h4>
            <p>LineFitGym offers a variety of fitness programs and coaches to help you achieve your fitness goals. Start your journey today!</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer th:replace="~{fragments/footer}">

  </footer>

  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <script src="/js/isotope.min.js"></script>
  <script src="/js/owl-carousel.js"></script>


  <script src="/js/popup.js"></script>
  <script src="/js/custom.js"></script>
  </body>
</html>