<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/head}">

</head>
<body>

  <!-- ***** Preloader Start ***** -->
  <div th:replace="~{fragments/preloader}">


  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header th:replace="~{fragments/navbar}">


  </header>


  <!-- ***** Header Area End ***** -->

  <!-- ***** Main Banner Area Start ***** -->
  <div class="main-banner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="header-text">
            <h6>LineFitGym</h6>
            <h2 >
              <a href="" class="typewrite" style="color: white" data-period="2000" data-type='[ "Find Coaches", "Discover Blogs", "Nutrition Programs", "Train Together", "Fitness Guides", "Get Motivated" ]'></a>
              <span class="wrap"></span>
            </a>
            </h2>
            <p>Welcome to our gym advice finder platform! Whether you're a fitness enthusiast looking to reach new heights in your training or a coach eager to inspire and guide others, you've come to the right place. Our platform connects dedicated coaches with enthusiastic trainees, fostering a community of mutual support and growth. Explore a diverse range of coaching programs tailored to your fitness goals. From personalized workout plans to nutritional guidance, our coaches are here to help you unlock your full potential. Join our community today and embark on a transformative fitness journey. At [Your Platform Name], we believe in the power of expert guidance and peer motivation Your journey to a healthier, stronger you begins here!</p>
            <div class="buttons">
              <div class="border-button">
                <a href="explore.html">Explore Gym</a>
              </div>
              <div class="main-button">
                <a href="" target="_blank">Read Our Blog</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 offset-lg-1">
          <div class="owl-banner owl-carousel">
            <div class="item">
              <img src="/images/banner-01.png" alt="">
            </div>
            <div class="item">
              <img src="/images/banner-02.png" alt="">
            </div>
            <div class="item">
              <img src="/images/banner-03.png" alt="">
            </div>
            <div class="item">
              <img src="/images/banner-04.png" alt="">
            </div>
            <div class="item">
              <img src="/images/banner-05.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->



  <div class="create-nft">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="section-heading">
            <div class="line-dec"></div>
            <h2>Find Your Perfect Fitness Program & Coach.</h2>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="main-button" sec:authorize="!isAuthenticated()">
            <a href="/users/register">Start Your Fitness Journey Now</a>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item first-item">
            <div class="number">
              <h6>1</h6>
            </div>
            <div class="icon">
              <img src="/images/icon-02.png" alt="">
            </div>
            <h4>Find Your Motivation</h4>
            <p>At LineFitGym, we believe in the power of motivation. Whether you're a beginner or a seasoned athlete, finding your motivation is the key to reaching your fitness goals. Explore our resources, connect with our community, and discover what drives you. Start your fitness journey with LineFitGym today!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item second-item">
            <div class="number">
              <h6>2</h6>
            </div>
            <div class="icon">
              <img src="/images/icon-04.png" alt="">
            </div>
            <h4>Find Your Coach</h4>
            <p>If you're interested in joining our LineFitGym community, you can register as a coach or a trainee.
              <span sec:authorize="!isAuthenticated()">Visit our <a href="/users/register">registration page</a> to get started.</span>
              <span sec:authorize="isAuthenticated()">You are already training with us!.</span>
              We look forward to welcoming you!</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="item">
            <div class="icon">
              <img src="/images/icon-06.png" alt="">
            </div>
            <h4>Start Your Fitness Program &amp; Achieve Your Goals</h4>
            <p>LineFitGym offers a variety of fitness programs and coaches to help you achieve your fitness goals. Start your journey today!</p>
          </div>
        </div>
      </div>
    </div>
  </div>



  <footer th:replace="~{fragments/footer}">

  </footer>


  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>

  <script src="/js/isotope.min.js"></script>
  <script src="/js/owl-carousel.js"></script>

  <script src="/js/custom.js"></script>
  <script src="/js/popup.js"></script>
  <script src="/js/script.js"></script>
  <script>
    var TxtType = function(el, toRotate, period) {
      this.toRotate = toRotate;
      this.el = el;
      this.loopNum = 0;
      this.period = parseInt(period, 10) || 2000;
      this.txt = '';
      this.tick();
      this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
      var i = this.loopNum % this.toRotate.length;
      var fullTxt = this.toRotate[i];

      if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
      } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
      }

      this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

      var that = this;
      var delta = 200 - Math.random() * 100;

      if (this.isDeleting) { delta /= 2; }

      if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
      } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
      }

      setTimeout(function() {
        that.tick();
      }, delta);
    };

    window.onload = function() {
      var elements = document.getElementsByClassName('typewrite');
      for (var i=0; i<elements.length; i++) {
        var toRotate = elements[i].getAttribute('data-type');
        var period = elements[i].getAttribute('data-period');
        if (toRotate) {
          new TxtType(elements[i], JSON.parse(toRotate), period);
        }
      }
      // INJECT CSS
      var css = document.createElement("style");
      css.type = "text/css";
      css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
      document.body.appendChild(css);
    };
  </script>


  </body>
</html>